<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
</head>

<body>
<header>
    Post List
</header>
<h1>Posts list page</h1>

<form th:method="GET" th:action="@{/postList}" th:object="{postList}">
    <div>
        <label for="message">Message</label>
        <input type="text" th:field="*{message}" id="message">

        <br/>

        <label for="datePosted">Date posted</label>
        <input type="date" th:field="*{datePosted}" id="datePosted">

        <br/>

        <label for="location">Location</label>
        <input type="text" th:field="*{location}" id="location">

    </div>
</form>

</body>

</html>