<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
</head>

<body>
<header>
    Post's List
</header>
<h1>Post's List</h1>

<form th:method="GET" th:action="@{/post}" th:object="${post}">
    <div>
        <label for="message">post's Message</label>
        <input type="text" th:field="*{message}" id="message">

        <br/>

        <label for="datePosted">post's Date posted</label>
        <input type="date" th:field="*{datePosted}" id="datePosted">

        <br/>

        <label for="location">post's Location</label>
        <input type="text" th:field="*{location}" id="location">
    </div>
</form>

</body>

</html>