<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
</head>

<body>
<header>
    <h1>User getting data</h1>
</header>

<form th:method="GET" th:action="@{/user}" th:object="${user}">
    <div>
        <label for="firstName">user First Name</label>
        <input type="text" th:field="*{firstName}" id="firstName">

        <br/>

        <label for="lastName">user Last Name</label>
        <input type="text" th:field="*{lastName}" id="lastName">

        <br/>

        <label for="phoneNumber">user Phone number</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber">

        <br/>

        <label for="country">user Country</label>
        <input type="text" th:field="*{country}" id="country">

        <br/>

        <label for="city">user Location</label>
        <input type="text" th:field="*{city}" id="city">

        <br/>

        <label for="age">user Age</label>
        <input type="number" th:field="*{age}" id="age">

        <br/>

        <label for="dateRegistered">user Date registered</label>
        <input type="date" th:field="*{dateRegistered}" id="dateRegistered">

        <br/>

        <label for="dateLastActive">user Date last active</label>
        <input type="date" th:field="*{dateLastActive}" id="dateLastActive">

        <br/>

        <label for="religion">user Religion</label>
            <input type="text" th:field="*{religion}" id="religion">

        <label for="school">user School</label>
            <input type="text" th:field="*{school}" id="school">

        <label for="university">enter University</label>
        <input type="text" th:field="*{university}" id="university">
    </div>
</form>

</body>

</html>