<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
</head>

<body>
<header>
    <h1>Get Users List</h1>
</header>

<form th:method="GET" th:action="@{/user}" th:object="${user}">
    <div>
        <br/>

        <label for="firstName">user's  Id</label>
        <input type="text" th:field="*{id}" id="id">a

        <br/>

        <label for="firstName">user's  First Name</label>
        <input type="text" th:field="*{firstName}" id="firstName">

        <br/>

        <label for="lastName">user's  Last Name</label>
        <input type="text" th:field="*{lastName}" id="lastName">

        <br/>

        <label for="phoneNumber">user's  Phone number</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber">

        <br/>

        <label for="country">user's  Country</label>
        <input type="text" th:field="*{country}" id="country">

        <br/>

        <label for="city">user's  Location</label>
        <input type="text" th:field="*{city}" id="city">

        <br/>

        <label for="age">user's  Age</label>
        <input type="number" th:field="*{age}" id="age">

        <br/>

        <label for="dateRegistered">user's  Date registered</label>
        <input type="date" th:field="*{dateRegistered}" id="dateRegistered">

        <br/>

        <label for="dateLastActive">user's  Date last active</label>
        <input type="date" th:field="*{dateLastActive}" id="dateLastActive">

        <br/>

        <label for="religion">user's  Religion</label>
        <input type="text" th:field="*{religion}" id="religion">

        <br/>
        <label for="school">user's  School</label>
        <input type="text" th:field="*{school}" id="school">

        <br/>

        <label for="university">user's  University</label>
        <input type="text" th:field="*{university}" id="university">

        <br/>
    </div>
</form>

</body>

</html>