<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
</head>

<body>
<header>
    Message's List
</header>
<h1>Message's List</h1>

<form th:method="GET" th:action="@{/message}" th:object="${message}">
    <div>
        <label for="text">message's Text</label>
        <input type="text" th:field="*{text}" id="text">

        <br/>

        <label for="dateSent">message's  Date sent</label>
        <input type="date" th:field="*{dateSent}" id="dateSent">

        <br/>

        <label for="dateRead">message's  Date posted</label>
        <input type="date" th:field="*{dateRead}" id="dateRead">
    </div>
</form>

</body>
</html>