<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find me</title>
</head>
<header>
    Header
</header>
<!--    <div>-->
<h1>Welcome to Find me</h1>
Some Text
<!--    </div>-->

<form id="login-form">
    <p>E-Mail: <input type="text" name="email"/></p>
    <p>Password: <input type="text" name="password"/></p>


    <button type="submit">Login</button>
</form>

<button id="test-ajax">Click here!</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>
<footer>
    Footer
</footer>
<script>

    $("#login-form").submit(function (e) {
        $.ajax({
            type: "POST",
            url: "/login",
            data: $('login-form').serialize(),
            success: function sucsess(data) {
                alert("success!");
            },
            error: function error(xhr) {
                alert("error!");
            }
        });
    });
</script>

</html>